<.svg_viewbox
  viewBox={viewBox(@coords_array)}
  class="board"
>
  <.layer_terrain terrain={@terrain} coords_array={@coords_array} />
  <.layer_structures structures={@structures} coords_array={@coords_array} player_cosmetic={@player_cosmetic} />
</.svg_viewbox>
