<.board1
  coords_array={SettlersView.Util.coords_array(@render_style, @shape)}

  shape={@shape}
  terrain={@terrain}
  structures={@structures}
  player_cosmetic={@player_cosmetic}
  render_style={@render_style}
/>
