<.svg
  viewBox={SettlersView.Util.viewBox(@coords_array, @terrain)}
>
  <.layer_terrain terrain={@terrain} coords_array={@coords_array} />
  <.layer_structures structures={@structures} coords_array={@coords_array} player_cosmetic={@player_cosmetic} />
</.svg>
