<.board
  shape={@game.state.board._shape}
  terrain={@game.state.board.terrain}
  structures={@game.state.board.structures}
  player_cosmetic={@game.player_cosmetic}
  render_style={:"point-top"}
/>
