<g class="layer-terrain">
  <%= for {loc, tile} <- Enum.sort_by(@terrain, fn {{0, {i, j}}, _} -> {-j, i} end) do %>
    <.terrain
      tile={tile}
      coords={@coords_array.values[loc]}
      boundary_path={adjacent_intersections(loc) |> Enum.map(fn loc_ -> @coords_array.values[loc_] end)}
    />
  <% end %>
</g>
