<g class="layer-terrain">
  <%= for {loc, tile} <- Enum.sort_by(@terrain, fn {{0, {i, j}}, _} -> {-j, i} end) do %>
    <.terrain
      tile={tile}
      coords={@coords_array.values[loc]}
    />
  <% end %>
</g>
