<svg
  xmlns="http://www.w3.org/2000/svg"
  width={@viewBox.width}
  height={@viewBox.height}
  viewBox={"#{@viewBox."min-x"} #{@viewBox."min-y"} #{@viewBox.width} #{@viewBox.height}"}
  class={@class}
  style="flex: none; /* do NOT mess with the user's ability to zoom in and out */"
>
  <%= render_slot(@inner_block) %>
</svg>
